
@{
    ViewBag.Title = "Index";
}

<h2>Administrator</h2>

@Html.ActionLink("Restaurants", "RestaurantList", "Restaurant", null, new { @class = "btn btn-primary btn-lg" })

@Html.ActionLink("Hotels", "HotelList", "Hotel", null, new { @class = "btn btn-primary btn-lg" })

@Html.ActionLink("Drink", "DrinkList", "Drink", null, new { @class = "btn btn-primary btn-lg" })

@Html.ActionLink("Food", "FoodList", "Food", null, new { @class = "btn btn-primary btn-lg" })